<!-- <div id="container">
  <strong>{{ name }}</strong>
  <p>Explore <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
</div> -->

<div>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center" size-sm="6" size-md="4">
        <ion-text> It's been </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-xs="6" size-md="6">
        <div class="counter__item">
          <h2 class="counter_num">{{ years }}</h2>
          <p>Years</p>
        </div>
      </ion-col>
      <ion-col size-xs="6" size-md="6">
        <div class="counter__item">
          <h2 class="counter_num">{{ months }}</h2>
          <p>Months</p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-xs="6" size-md="6">
        <div class="counter__item">
          <h2 class="counter_num">{{ days }}</h2>
          <p>Days</p>
        </div>
      </ion-col>
      <ion-col size-xs="6" size-md="6">
        <div class="counter__item">
          <h2 class="counter_num">{{ hours }}</h2>
          <p>Hours</p>
        </div>
      </ion-col>

      <ion-col size-xs="6" size-md="6">
        <div class="counter__item">
          <h2 class="counter_num">{{ mins }}</h2>
          <p>Minutes</p>
        </div>
      </ion-col>
      <ion-col size-xs="6" size-md="6">
        <div class="counter__item">
          <h2 class="counter_num">{{ secs }}</h2>
          <p>Seconds</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>

<div id="container">
  <strong>{{ name }}</strong> <br />
  <ion-button (click)="onClick()"> Press me with love</ion-button>
</div>
